<html>
    <head>
        <title>Welcome blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls!</a></h1>
        </div>
        {% for post in posts %}
        <div>
          <p>published: {{ post.published_date }}</p>
          <h2><a href="">{{ post.title }}</a></h2>
          <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Escribir en esta parte todo lo que quieras para tu primer post.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Igual que lo primero pero va a ser tu segundo.</p>
        </div>
    </body>
</html>
